.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 5px;
    color: white;
}
.box-container > div{
    border: 2px;
}
.box1{
    background-color: red;
    grid-column: span 2;
    grid-row: span 2;
}
.box2{
    background-color: orange;
    grid-column: span 2;
}
.box3{
    background-color: purple;
}
.box4{
    background-color: gray;
}
.box5{
    background-color: blue;
}
.box6{
    background-color: green;
    grid-row: span 2;
}
.box7{
    background-color: black;
    grid-column: span 2;
    grid-row: span 3;
}
.box8{
    background-color: pink;
}
.box9{
    background-color: brown;
    grid-column: span 2;
}
.box10{
    background-color: orange;
    grid-column: span 4;
}
@media only screen and (max-width: 760px) {
    .box-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 100px);
        gap: 5px;
        color: white;
    }

    .box-container > div {
        border: 2px;
        grid-column: span 1;
        grid-row: span 1;
    }

    .box1 {
        background-color: red;
    }

    .box2 {
        background-color: orange;
    }

    .box3 {
        background-color: purple;
    }

    .box4 {
        background-color: gray;
    }

    .box5 {
        background-color: blue;
    }

    .box6 {
        background-color: green;
    }

    .box7 {
        background-color: black;
    }

    .box8 {
        background-color: pink;
    }

    .box9 {
        background-color: brown;
    }

    .box10 {
        background-color: orange;
    }
}



